<form method="POST" action="/new">
    <h2>Comment</h2>
    <div class="form-example">
        <label for="messageUser">Enter your name: </label>
        <input type="text" name="messageUser" id="messageUser" required />
    </div>
    <div class="form-example">
        <label for="messageText">Enter your comment: </label>
        <input type="text" name="messageText" id="messageText" size="30" required />
    </div>
    <div class="form-example">
        <input type="submit" value="Submit!" />
    </div>
 </form>